body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}


#h2{
	font-size: 1px;;
}

il{
	display:inline
}

selectDia,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}
selectDia {
  width: 60px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

selectDia[multiple],
selectDia[size] {
  height: auto;
}

selectDia:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

#botaoSair{
	position: relative;
	color: red;
	text-align: center;
	text-transform: uppercase;
	padding: 5px 5px 5px 5px;
	cursor: pointer;
	font-weight:bold;
	display: inline;
}
	
#botaoSair:hover{
	color: lightcoral;
}

.form-signin {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: center;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
}
