@()

@import helper._

@main("Carona CG") {
    
    
    <ul><h2>
    "Carona CG"
    </ul></h2>
    
    <h2>Faça aqui o seu cadastro!</h2>
   	@form(routes.Application.cadastramento()) {
		<form> <li>Email         :        <input type="email" name="name" required="true" class="${field.errorClass}"><br> </li>
			<li>   Senha         :        <input type="password" name="password"></li>
			<li>   Repita a senha:        <input type="password" name="rePassword"></li>
			   <input type="submit" value="Cadastrar">
		</form>  
    }
        
    
  
    <ul> <a href="http:/login">Faça seu login!</a>
    </ul>
    
}
