@(user: Usuario)

@main("Caronas Inteligentes") {
<meta charset="utf-8">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div align="left">
      <a class="navbar-brand" href="#">Caronas Inteligentes</a>
    </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
      	
      	<li class="divider"></li>
        <li class="active"><a href="@routes.Application.index()">Início</a></li>
        <li class="active"><a href="#">Mensagens</a></li> 
        <li class="active"><a href="@routes.Application.verSolicitacoes()">Solicitações de Caronas</a></li>
        <li class="active"><a href="@routes.Application.verCaronas()">Caronas disponíveis</a></li>
		
		</li>      
      </ul>
     
      <ul class="nav navbar-nav navbar-right">
        
        <li class="divider"></li>
        		<li><a href="#">@user.email</a></li>
        		<li class="active"><a href="@routes.Autenticador.logout()">Sair</a></li>
        		
        		
        </li>
      </ul>
  </div>
</nav>
<div class="form-body">
	<form role="form" method="post" action="@routes.Application.criaCarona()" id="criacaoForm">
		<div class="form-group" >
    	<input type="text" class="form-signin" name="origem" placeholder="Origem">
    	<input type="text" class="form-signin" name="destino"  placeholder="Destino">		
		</div>
		<div class="form-group .width=100%">
		<text class="label label-info">Data e hora que deseja estar no destino</text>
		<br><br>
		<input type="date" class="controls" id="data" name="data" placeholder="Data" 
				 title="Data que deseja dar a carona">
		<input type="time" class="controls" id="hora" name="hora" placeholder="Hora" 
				 title="Horario que deseja estar no seu destino">
				<br>
		<label class="label label-warning" for="vagas">Vagas</label>
		<select class="form-controls" name="vagas" title="Vagas disponiveis" placeholder="vagas" id="vagas">
  			<option>1</option>
  			<option>2</option>
  			<option>3</option>
  			<option>4</option>
		</select>
		</div>
		<div class="controls">
			<button type="submit" id="botaoCria" class="btn btn-success"> Criar Carona </button> 		
		</div>
	</form>
	    @if(flash.containsKey("erro")){
				<div class="alert alert-danger">
  					@flash.get("erro")
				</div>
			}
			@if(flash.containsKey("success")){
				<div class="alert alert-success ">
					@flash.get("success")
				</div>
			}
			  </div>
</div>
	<script>
  $("data".load(function()) {
	  var today = new Date();
	  var dd = today.getDate();
	  var mm = today.getMonth()+1; //January is 0!
	  var yyyy = today.getFullYear();
	  if(dd<10) {
	      dd='0'+dd
	  } 

	  if(mm<10) {
	      mm='0'+mm
	  } 

	  today = dd+'/'+mm+'/'+yyyy;
	  $("#nome").val(today);
  }
 </script>


}