@(id: Long, kind: String)

@import helper._

@main("Carona CG") {
    
    <ul><h2>
   	Por favor preencha os campos seguir
    </ul></h2>
    
	@if(kind == "criarCarona"){
   		@form(routes.Application.especificado(id, kind)) {
    	   	<br>
    	   	<ul>Bairro:  <input  type = "text" name = "bairro", required = "true"></ul>
    	    <ul>Numero de vagas<select name="vagas">
    	    <option value="1"selected>1</option>
   		    <option value="2">2</option>
   	    	<option value="3">3</option>
   	     	<option value="4">4</option>
        	</select></ul>
			<li><ul>Horario de saída: Dia-Mes-Hora-Min<input type="text" name = "day" MAXLENGTH = "2" size="2" required="true">
				<input type="text" name="month" MAXLENGTH="2" size="2" required="true">
				<input type="text" name="hour" MAXLENGTH="2" size="2" required="true">
				<input type="text" name="min" MAXLENGTH="2" size="2" required="true"></ul></li>
			<ul><input type="submit" value="Criar"></ul>
         }
	 }
	 @if(kind == "solicitarCarona"){
	 	@form(routes.Application.especificado(id, kind)) {
    	   	<br>
    	   	<ul>Bairro:  <input  type = "text" name="bairro", required="true"></ul>
			<ul>Pontos de encontro:  <input  type = "text" name="point"></ul>
			<li><ul>Horario de saída: Dia-Mes-Hora-Min<input type="text" name = "day" MAXLENGTH = "2" size="2" required="true">
				<input type="text" name="month" MAXLENGTH="2" size="2" required="true">
				<input type="text" name="hour" MAXLENGTH="2" size="2" required="true">
				<input type="text" name="min" MAXLENGTH="2" size="2" required="true"></ul></li>
			<ul><input type="submit" value="Solicitar"></ul>
         }
	 }
}