@(form: Form[Application.Login])

@main("Caronas Inteligentes"){
<html>
    <head>
        <title>Caronas Inteligentes</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
    </head>
    <body>
        <header>
            <a href="@routes.Application.index" id="logo"><span>Caronas </span>Inteligentes</a>
        </header>
    
    </body>
</html>


<form class="form-horizontal" action="@routes.Application.authenticate()" method="post">
   <div class="control-group">
			    <label class="control-label" for="email">E-mail</label>
			    <div class="controls">
			       <input type="email" name="email" placeholder="Email" value="@form("email").value">
			    </div>
			  </div>
			  <div class="control-group">
			    <label class="control-label" for="senha">Senha</label>
			    <div class="controls">
					<input type="password" name="password" placeholder="Senha">
			    </div>
			  </div>
			  <div class="control-group">
			    <div class="controls">
				  <button type="submit" class="btn btn-primary">Entrar</button>
				  <button type="button" class="btn" onclick="location.href = '@routes.Application.cadastro()';">Cadastrar</button>
				</div>
			    </div>
			  </div>
			</form>
   
}
