@(form: Form[Application.Login])

@main("Caronas Inteligentes"){

<meta charset="utf-8">



    <head>
    	<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/signin.css")">
    </head>
    
  	<br>
  	<br>
    <div class="hero-unit">
    			
			</div>
			<div class="form-actions">
			@if(flash.containsKey("erro")){
				<div class="alert alert-success container">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
  					@flash.get("erro")
				</div>
			}
			@if(flash.containsKey("success")){
				<div class="alert alert-success container">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
  					@flash.get("success")
				</div>
			}

    
   <div class="container">    
   	<h2>Caronas Inteligentes </h2>
	<form class="form-signin" role="form" action="@routes.Application.authenticate()" method="post">
   			   <br>
   			   <br>
   			   <h3>Faça login ou cadastre-se</h3>
			   
   			   <br>	
			   <input type="email" class= "form-control" name="email" placeholder="e-mail" value="@form("email").value" required>
			   <input type="password" class="form-control" name="password" placeholder="senha">
			   <button type="submit" class="btn  btn-primary btn-block">   Entrar   </button>
			   <button type="button" class="btn btn-primary btn-block " onclick="location.href = '@routes.Application.cadastro()';">Cadastre-se</button>
			</form>
	</div>	
		

   
}
