@(form: Form[Autenticador.Login])
@main("Caronas Inteligentes"){

<meta charset="utf-8">
    
  	
    <div class="nav-bar">
    		<h1>Caronas Inteligentes</h1>
    		</div>
    		<div class="form-actions">
			

	<form class="form-signin" role="form" action="@routes.Autenticador.authenticate()" method="post">
   			   <h4>Faça login ou cadastre-se</h4>
			   <div class="control-group" id="campoEmail">
			    <div class="controls">
			   <input type="email" class= "control-label" name="email" placeholder="e-mail" value="@form("email").value" required>
			   </div>
			   </div>
			   <div class="control-group" id = "campoSenha">
			    <div class="controls">
			   <input type="password" class="control-label" name="password" placeholder="senha">
			   </div>
			   </div>
			   <div class="control-group">
			    <div class="controls">
				  <button type="submit" class="btn btn-primary">Entrar</button>
				  <button type="button" class="btn btn-default" onclick="location.href = '@routes.Autenticador.cadastro()';	">Cadastrar</button>
				</div>
				
			    </div>
			    </form>
			    @if(flash.containsKey("erro")){
				<div class="alert alert-danger container">
  					@flash.get("erro")
				</div>
			}
			@if(flash.containsKey("success")){
				<div class="alert alert-success container">
					@flash.get("success")
				</div>
			}
			  </div>
			
			

   
}
