@(id: Long, caronas : List[Carona])

@import helper._



<table id="carona" width="65%", >
   <tr><th><caption><strong><em><h1> Caronas</th></caption></tr></strong></em></h1>
   <tr>
        <th><h4>Origem</th></h4>
        <th><h4>Vagas</th></h4>
        <th><h4>Destino</th></h4>
   </tr>
    @for(carona <- caronas) {
     	   <tr>
     	   
     	  <td><h3>@carona.getOrigem()</td></h3>
     	  <td><h3>@carona.getVagas()</td></h3>
     	  <td><h3>@carona.getDestino()</td></h3>
     	  
     	  </tr>   
     }
    </table>