@(caronas: List[Carona], solicitacoes: List[SolicitacaoCarona], user: Usuario)
@import helper._
@main("Caronas Inteligentes") {
	
<meta charset="utf-8">
	 <div class="nav-bar">
	 
    			<h2>Caronas Inteligentes</h2>
    			<h4>Olá @user.nome</h4>
    			<button type="submit" class="btn btn-default" 
    				onclick="location.href = '@routes.Autenticador.logout()';	">Sair</button>
		</div>
<div class="table">
<div class="row">

        <div class="col-md-4"><b>Motorista</b></div>
        <div class="col-md-4"><b>Origem</b></div>
        <div class="col-md-4"><b>Destino</b></div>
          </div>

@for(carona <- caronas){
	 <div class="row">
        <div class="col-md-4">@carona.motorista.nome</div>
        <div class="col-md-4">@carona.origem</div>
        <div class="col-md-4">@carona.destino</div>
      </div>
}

</div>





}