@(caronas: List[Carona], solicitacoes: List[SolicitacaoCarona], user: Usuario)
@import helper._
@main("Caronas Inteligentes") {
	
<meta charset="utf-8">
	 <div class="nav-bar">
	 
    			<h2>Caronas Inteligentes</h2>
    			<h4>Olá @user.nome</h4>
    			<button type="submit" class="btn btn-default" 
    				onclick="location.href = '@routes.Autenticador.logout()';	">Sair</button>
		</div>
		<br>
<div class="table">
<div class="row">

        <div class="col-md-1"><b>Motorista</b></div>
        <div class="col-md-1"><b>Origem</b></div>
        <div class="col-md-1"><b>Destino</b></div>
        <div class="col-md-1"><b>Vagas</b></div>
        <div class="col-md-1"><b>Horario</b></div>
        
          </div>

@for(carona <- caronas){
	 <div class="row">
        <div class="col-md-1">@carona.motorista.nome</div>
        <div class="col-md-1">@carona.origem</div>
        <div class="col-md-1">@carona.destino</div>
        <div class="col-md-1">@carona.vagas</div>
        <div class="col-md-1">@carona.data.getDate()/@carona.data.getMonth() @carona.data.getHours():@carona.data.getMinutes() </div> <span><button type="submit"
        class = "btn btn-info">Pegar carona</button></span>
      </div>
      
}

</div>





}