@(form: Form[Application.Cadastro])
@main("Caronas Inteligentes"){
<html>
    <head>
        <title>Caronas Inteligentes</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/login.css")">
    </head>
    <body>
        <header>
            <a href="@routes.Application.index" id="logo"><span>Caronas </span>Inteligentes</a>
        </header>
    
    </body>
</html>

@helper.form(routes.Application.efetuaCadastro){
   <h2>Faça sua conta</h2>

   <p>
       <input type="email" name="email" placeholder="Email" value="@form("email").value">
   </p>
   <p>
       <input type="password" name="password" placeholder="Senha" value="@form("password").value">
   </p>
    <p>
       <input type="password" name="repassword" placeholder="Confirme a senha" value="@form("repassword").value">
   </p>
   <p>
       <button type="submit">OK</button>
   </p>

}
}
