@(newUserForm : Form[NewUser])

@import helper._

@main("Carona CG") {
    
    
    <ul><h2>
    "Carona CG"
    </ul></h2>
    
    <h2>Faça aqui o seu cadastro!</h2>
    
   	@form(routes.Application.cadastramento()) {
        
      <li>@inputText(newUserForm("name"), '_label -> "E-mail:"	)</li> 
      <li>@inputPassword(newUserForm("password"), '_label -> "Senha:")</li>
      <li>@inputPassword(newUserForm("rePassword"), '_label -> "Coloque a senha novamente:")</li>
        
        <input type="submit" value="Create">
        
    }
    
    <ul> <a href="http:/login">Faça seu login!</a>
    </ul>
    
}
