@(userForm : Form[User])

@import helper._

@main("Carona CG") {
    
    
    <ul><h2>
    "Carona CG"
    </ul></h2>
    
    <h2>Faça o seu login aqui</h2>
    
   	@form(routes.Application.tentaLogin()) {
        
        <li>@inputText(userForm("name"), '_label -> "E-mail:"	) </li>
        <li>@inputPassword(userForm("password"), '_label -> "Senha:")</li>
        <input type="submit" value="Create">
        
    }
    
    <ul> Ainda não é cadastrado? <a href="http:/cadastro">Cadastre-se aqui!</a>
    </ul>
    
}