@(id: Long)

@import helper._

@main("Carona CG") {
    
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav"
    role="banner">
    <div class="navbar-inverse">
        <div class="container">
            <div class="navbar-header" >
                <a href="/" class="navbar-brand">Home</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse"
                role="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logoff">Sair</a></li>
                </ul>
            </nav>
        </div>
    </div> 
	</header> 
    
    <h2>Escolha uma das opções abaixo</h2>
    
   	@form(routes.Application.selecionadaAcao(id)) {
       	<ul><input type="radio" name="typeAction" value="criarCarona">Criar uma carona(motorista)</ul>
		<ul><input type="radio" name="typeAction" value="solicitarCarona">Solicitar uma carona.</ul>
		<ul><input type="radio" name="typeAction" value="verCaronas">Ver caronas disponiveis.</ul>
		<ul><input type="radio" name="typeAction" value="verSol">Ver solicitações de carona.</ul>
        <input type="submit" value="Ok">
		
    }
    
	 
    
}